ion-grid {
    padding: 0px;
}
ion-list {
    height: 69vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px 15px 0px 15px;
    padding: 0px;
    // background: color($colors, secondary)
};
ion-col {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
ion-item {
    margin-bottom: 5px;
    border-radius: 5px;
     --padding-start: 0px;
     --padding-end: 0px;
     --inner-padding-end: 0px;
};
ion-button {
    margin: 0px;
}
app-exercise-thumbnail {
    margin: 4px;
    width: 100%
}
ion-reorder{
//     display: none!important;
    margin-left: 0px;
    margin-right: 0px;
}
ion-label {
    color: var(--ion-color-danger)
}
