<ion-fab vertical="top" horizontal="start">
  <ion-fab-button size="small" (click)="startOrStopToggle()">
    <ion-icon name="play"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="end">
    <ion-fab-button size="small" (click)="startOrStopToggle()">
      <ion-icon name="pause"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<ion-fab vertical="top" horizontal="end">
    <ion-fab-button size="small" (click)="editOrCancelToggle()">
      <ion-icon name="construct"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button size="small" (click)="addExercise()">
        <ion-icon name="calendar"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" (click)="saveChanges()">
        <ion-icon name="walk"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
</ion-fab>
<ion-grid>
  <ion-row align-items-center>
    <ion-col>
      <ion-label *ngIf="IsDisplayOrWorkout" no-margin>{{ workoutDay.name }}</ion-label>
      <ion-input *ngIf="IsEditMode" type="text" no-margin text-center
        [(ngModel)]="workoutDay.name">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list lines="none">
      <ion-reorder-group
        [disabled]="!IsEditMode" (ionItemReorder)="reorderItems($event)">
        <ion-item *ngFor="let exercise of workoutDay.exercises; let i = index">
          <app-exercise-thumbnail
            [exercise]="exercise"
            [workoutDayName]=workoutDay.name
            [exerciseIndex]="i+1"
            [inWorkoutDayPublisher]="workoutDayPublisher"
            #exerciseComponent (click)="exerciseComponent.exerciseSelected()"
            (outEventEmitter)="handleExerciseActionEvent($event)">
            </app-exercise-thumbnail>
            <ion-reorder slot="start"></ion-reorder>
        </ion-item>
        </ion-reorder-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
