<ion-header>
  <ion-toolbar>
    <ion-title>Select Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngIf="images.length">
        <ion-label>Select an Exercise</ion-label>
      <ion-button fill="clear" (click)="selectMuscle()">
        Select by Muscles
          <ion-icon slot="end" name="body"></ion-icon>
      </ion-button>
    </ion-item>

  <ion-list>
    <ion-item *ngFor="let img of images; index as pos" class="ion-text-wrap">
      <ion-thumbnail slot="start">
        <ion-img [src]="img.ionicPath"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{ img.name }}
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="img.isSelected"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row *ngIf="!haveWorkoutsBeenReset">
      <ion-col>
        <ion-button fill="clear"  (click)="addExercise()" [disabled]="isAddExerciseDisabled">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Add Exercises
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>As a Superset</ion-label>
          <ion-checkbox [(ngModel)]="isSet"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button *ngIf="haveWorkoutsBeenReset" fill="clear" routerLink="/" routerDirection="root" >
      <ion-icon slot="start" name="back"></ion-icon>
      workouts have been reset! go back to Workouts
    </ion-button>
  </ion-toolbar>
</ion-footer>
