<ion-header>
  <ion-toolbar>
    <ion-title>Select Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 *ngIf="images.length" class="ion-text-center">Please Select an Exercise!</h3>

  <ion-list>
    <ion-item *ngFor="let img of images; index as pos" class="ion-text-wrap">
      <ion-thumbnail slot="start">
        <ion-img [src]="img.path"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{ img.name }}
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="img.isSelected"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" (click)="addExercise()" [disabled]="!hasSelecteion">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Add Exercises
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Superset</ion-label>
          <ion-checkbox [(ngModel)]="isSet"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
