<ion-header>
  <ion-toolbar>
    <ion-title>{{ workout.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slider [pager]='true'
    (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let day of workout.days">
      {{day.name}}
   <!--  <workout-day [workoutDay]="day"
          [inWorkoutDaysPublisher]="workoutDaysPublisher"
          (outEventEmitter)="handleExerciseActionEvent($event)">
    </workout-day> -->
   </ion-slide>

  </ion-slides>
</ion-content>
