<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ workout.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slider pager='true' *ngIf="workout"
    [options]="slideOpts"
    (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let day of workout.days">
        <app-workout-day
        [workoutDayId]="day"
        [isLastDayActive]="isLastDayActive"
        [isFirstDayActive]="isFirstDayActive"
        [isOneDayOnly]="isOneDayOnly"
        [isNewDayAdded]="isNewDayAdded"
        >
      </app-workout-day>
   </ion-slide>
  </ion-slides>
</ion-content>
