<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ workout?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slider pager='true' [options]="slideOpts"
    (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let day of workout?.days">
        <app-workout-day
        [workoutDay]="day"
        [isLastDayActive]="isLastDayActive"
        [isFirstDayActive]="isFirstDayActive"
        [inWorkoutDaysPublisher]="workoutDaysPublisher"
        (outEventEmitter)="handleExerciseSetActionEvent($event)">
      </app-workout-day>
   </ion-slide>
  </ion-slides>
</ion-content>
