ion-grid {
    padding: 0px;
}
ion-col#col-with-image {
    height: 94px;
    text-align: center;
}
ion-col#col-rep {
    margin: 2px 0px 2px 0px;
    padding: 4px 5px 4px 5px;
}
ion-list {
    margin: 0px;
    padding: 0px;
    // color: color($colors, dark);
}
ion-item {
    padding-left: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    // color: color($colors, dark);
};
img {
    height: 80px;
    width: 80px;
    margin: 2px 1px;
}
ion-label {
    margin: 0px;
    padding: 4px;
    font-size: 17px;
}
ion-label[text-wrap] {
    font-size: 17px;
}
ion-thumbnail {
    --padding-start: 0px;
    margin: 2px 1px 2px 1px!important;
    display: flex;
    justify-content: center;
};
div#div-with-image-and-buttons {
    display: inline-block;
    position: relative;
    button[bottom] {
        position: absolute!important;
        left: calc(50% + 5px);
        top: calc(50% - 1px);
    }
    button[up] {
        position: absolute!important;
        left: calc(50% - 2px);
        top: calc(50% - 53px);
    }
};
h2 {
    margin: 0px 0px 2px 0px;
    font-size: 16px;
    font-weight: normal;
}
h4 {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
.activeRep {
    // background: color($colors, danger);
    // color: color($colors, primary);;
}
.nonActiveRep {
    // background: color($colors, light);;
    // color: color($colors, secondary);
}
.noTopMargin {
        margin-top: 0px;
    }
.noBottomMargin {
    margin-bottom: 0px;
}
.et-button {
    // color: color($colors, primary);
    // background: color($colors, danger);
}
.fadeOutAndIn {
        -webkit-animation: fadeinout 4s linear infinite;
        animation: fadeinout 4s linear infinite;
        opacity: 1;
    }
@-webkit-keyframes fadeinout {
    0%,100% { opacity: 1; }
    50% { opacity: 0.25; }
}
@keyframes fadeinout {
    0%,100% { opacity: 0.25; }
    50% { opacity: 1; }
}
    .button-clear {
        // color: color($colors, secondary);
    }

    // ion-reorder{
    //     display: none!important;
    // }

    .imageWrap {
        display: inline-block;
        position: relative;
    }
    .clicker {
        cursor: pointer!important;
    }

    h3 {
        // color: color($colors, danger);
    }
    ion-input {
        input {
            text-align: center;
            margin: 4px!important;
        }
    }
    button {
        ion-icon[narrow-padding] {
            padding-left: 2px;
            padding-right: 2px;
        }
    }
    .bordered {
        // background: color($colors, danger);
    }
