<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-label [hidden]="IsEditMode"
       class="ion-text-center">{{ workout.name }}
    </ion-label>
    <ion-input [hidden]="IsDisplayMode" type="text"
      class="ion-text-center"
      [(ngModel)]="workout.name">
    </ion-input>
  </ion-card-header>

  <ion-card-content>

    <p class="ion-text-wrap">
      <ion-textarea [readonly]="IsDisplayMode"
        [value]="workout.description">
      </ion-textarea>
    </p>

    <div *ngIf="daysCount">
      <ion-item *ngIf="IsDisplayMode" detail (click)="goToWorkoutDays()" >
        <ion-label>Workout Days...</ion-label>
        <ion-badge slot="end">{{ daysCount }}</ion-badge>
      </ion-item>
      <ion-item *ngIf="IsEditMode">
          <ion-label >Workout Days...</ion-label>
          <ion-badge slot="end">{{ daysCount }}</ion-badge>
          <ion-button
            fill="clear" bottom color="dark" slot="end"
              (click)="deleteWorkout()">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
    </div>

  </ion-card-content>
</ion-card>
