<ion-card >
  <ion-card-header class="ion-text-center">
    <ion-label [hidden]="IsEditMode"
       class="ion-text-center">{{ workout?.name }}
    </ion-label>
    <ion-input [hidden]="IsDisplayMode" type="text"
      class="ion-text-center"
      [(ngModel)]="workout.name">
    </ion-input>
  </ion-card-header>

  <ion-card-content>

    <p class="ion-text-wrap">
      <ion-textarea [readonly]="IsDisplayMode"
        [value]="workout.description">
      </ion-textarea>
    </p>
    <ion-item *ngIf="daysCount" detail
      (click)="goToWorkoutDays()" >
        <ion-label >Workout Days...</ion-label>
        <ion-badge slot="end">{{ daysCount }}</ion-badge>
    </ion-item>

  </ion-card-content>
</ion-card>
