ion-card {
    --border-radius: 10px;
    --background: var(--ion-color-primary);
    ion-card-header {
        color: var(--ion-color-light);
    }
    ion-card-content {
        padding-top: 0px;
        p {
            color: var(--ion-color-dark);
        }
        ion-item {
            --background: var(--ion-color-tertiary);
            --detail-icon-color: var(--ion-color-warning);
            ion-label {
                color: var(--ion-color-light);
            }
            ion-badge {
                --color: var(--ion-color-light);
            }
        }
    }
}
