ion-list {
  padding-top: 20px;
}
.list ion-item {
  --inner-padding-end: 0px!important;
  --padding-bottom:	5px;
  --padding-end:	  30px;
  --padding-start:	30px;
  --padding-top:	  5px;
}
#workout-card {
  // background: color($colors, secondary)!important;
}
app-workout-card {
  width: 100%!important;
}
