<ion-header>
  <ion-toolbar>
    <ion-title>
      Workouts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" #fabEdit id="fabEdit">
  <ion-fab-button size="small" color="warning"(click)="editWorkouts()" >
    <ion-icon name="construct"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button size="small" (click)="addWorkout($event)"
      color="light" >
      <ion-icon name="today"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let workout of workouts; let index = i">
      <app-workout-card
        [workout]="workout"
        [displayMode]="DisplayMode">
      </app-workout-card>
    </ion-item>
  </ion-list>
</ion-content>