<ion-header>
  <ion-toolbar>
    <ion-title>
      Workouts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" #fabEdit id="fabEdit">
    <ion-fab-button size="small" (click)="editWorkouts()" color="warning">
      <ion-icon name="construct"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button size="small" (click)="addWorkout()" color="light">
        <ion-icon name="today"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let workout of workouts; let index = i">
      <app-workout-card
        [workout]="workout"
        [inWorkoutPublisher]="workoutPublisher"
        (outEventEmitter)="handleWorkoutActionEvent($event)">
      </app-workout-card>
    </ion-item>
  </ion-list>
</ion-content>