// .svg-container {
// 	display: inline-block;
// 	position: relative;
//     width: 94%;
//     // the ration between the hight and the width of the image
// 	padding-bottom: 131%;
//     vertical-align: top;
// 	overflow: hidden;
// }

.svg-content {
    width: 93%;
    margin: auto;
	display: block;
}