// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 4px;
}
ion-toolbar {
    --background: var(--ion-color-danger);
    --color: var(--ion-color-primary);
}
ion-content {
    --background: var(--ion-color-success);
}

.select-popover ion-list {
    .item {
        // background: color($colors, danger);
    }
}
.popover-ios {
    .popover-arrow::after {
        // background: color($colors, danger);
    }
    .popover-content {
        // background: color($colors, danger);
        // width: 250px;
    }
    ion-list {
        .item {
            // background: color($colors, danger);
            // font-size: small;
            // padding-left: 10px;
            // padding-right: 10px;
        }
    }
}
.popover-md {
    .popover-arrow::after {
        // background: color($colors, danger);
    }
    .popover-content {
        // background: color($colors, danger);
        //width: 250px;
    }
    ion-list {
        .item {
            // background: color($colors, danger);
            // font-size: small;
            // padding-left: 10px;
            // padding-right: 10px;
        }
    }
}
.popover-viewport {
    .label {
        // margin: 0px!important;
    }
}

.range-ios .range-knob {
    // background: color($colors, secondary);
}
.range-ios .range-bar {
    // background: color($colors, danger);
}
.range-ios .range-bar-active {
    // background: color($colors, secondary);
}
.range-md .range-knob {
    // background: color($colors, secondary);
}
.range-md .range-bar {
    // background: color($colors, danger);
}
.range-md .range-bar-active {
    // background: color($colors, secondary);
}