// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 8px;
    --bullet-background: var(--ion-color-tertiary);
}
ion-toolbar {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-primary);
}
ion-content {
    --background: var(--ion-color-tertiary);
}
